services:
  mailpit:
    image: axllent/mailpit:latest
    #image: ibraransaridocker/mailpit:latest
    container_name: mailpit
    ports:
      - "8025:8025" # WEB GUI
      - "1025:1025" # SMTP
    volumes:
      - ./mailpit-data:/data  # Separate database
    environment:
      MP_SMTP_AUTH: "user2:pass2123"
      MP_UI_AUTH: "user2:pass2123"
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      MP_DATABASE: /data
      MP_MAX_MESSAGES: 5000 # Maximum number of messages to store
      MP_VERBOSE: true # Enable debug logging
    healthcheck:
      test: ["CMD", "/mailpit", "readyz"]
      interval: 15s
      start_period: 10s
      timeout: 30s      # optional (default is 30s)
      retries: 3        # optional (default is 3)